<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artists</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/artists.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="/js/artist-dropdown.js"></script>
</head>
<body>

<nav class="top-nav">
    <a href="javascript:history.back()" class="nav-back">< Back</a>
    <a href="/" class="nav-home">Discover</a>
</nav>

<header>
    <h1>Artists</h1>
</header>

<main>

    <section id="artist-dropdown">
        <form id="artistForm">
            <label for="artistSelect">Select an artist:</label>
            <select id="artistSelect" required>
                <option value="" disabled selected>Choose an artist</option>
                <!-- dropdown cu toti artistii -->
                <option th:each="artist : ${artistsForDropdown}"
                        th:value="${artist.id}"
                        th:text="${artist.name}"></option>
            </select>
            <button type="submit">View Artworks</button>
        </form>
    </section>

    <section id="artists">
        <div class="grid artworks-grid">
            <div class="card" th:each="artist : ${artists}">
                <a th:href="@{/artists/{id}/artworks(id=${artist.id})}">
                                <img th:src="${artist.imageLink != null
                          ? artist.imageLink
                          : '/images/no-artist.png'}"
                         th:alt="${artist.name}">
                </a>
                <h3 th:text="${artist.name}"></h3>
            </div>
        </div>
    </section>
</main>

<div class="pagination">
    <a th:if="${currentPage > 1}"
       th:href="@{/artists(page=${currentPage - 1})}" class="btn-nav">
        ← Back
    </a>

    <span>Page [[${currentPage}]] of [[${totalPages}]]</span>

    <a th:if="${currentPage < totalPages}"
       th:href="@{/artists(page=${currentPage + 1})}" class="btn-nav">
        Next →
    </a>
</div>

</body>
</html>
