<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Discover | ARP Collection</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>

<div style="text-align: right; margin: 10px 20px;">
    <a href="http://localhost:8080/arp-query.html"
       target="_blank"
       style="background-color: #007acc; color: white; padding: 6px 12px; border-radius: 5px; text-decoration: none; font-weight: bold;">
        ArP Query Service
    </a>
</div>

<header>
    <h1>Discover</h1>
    <p>Explore Our Collection Thematically</p>
</header>

<nav class="jump-to">
    <span>Jump to:</span>
    <a href="#artists">Artists</a>
    <a href="#int-art">International Arts & Culture</a>
    <a href="#ro-art">Romanian Arts & Culture</a>
</nav>

<main>
    <!-- Artists Section -->
    <section id="artists">
        <h2>Artists</h2>
        <div class="grid artworks-grid">
            <div class="card" th:each="artist : ${artists}">
                <a th:href="@{/artists/{id}/artworks(id=${artist.id}, domain='ro')}">
                    <img th:src="${artist.firstArtworkImageLink}" th:alt="${artist.name}">
                </a>
                <h3 th:text="${artist.name}"></h3>
            </div>
        </div>
    </section>

    <section id="int-art">
        <h2>
            International Arts & Culture
            <a href="/artworks?domain=int" class="details-link">(see the details)</a>
        </h2>
        <div class="grid artworks-grid">
            <div th:each="art : ${wikidataArtworks}" class="card">
                <a th:href="@{/artworks/{id}(id=${art.id}, domain='int')}">
                    <img th:src="${art.imageLink}" th:alt="${art.title}"/>
                    <h3 th:text="${art.title}">Titlu</h3>
                </a>
            </div>
        </div>
    </section>

    <!-- Romanian Arts Section -->
    <section id="ro-art">
        <h2>
            Romanian Arts & Culture
            <a href="/artworks?domain=ro" class="details-link">(see the details)</a>
        </h2>
        <div class="grid artworks-grid">
            <div th:each="art : ${artworks}" class="card">
                <a th:href="@{/artworks/{id}(id=${art.id}, domain='ro')}">
                    <img th:src="${art.imageLink}" th:alt="${art.title}"/>
                    <h3 th:text="${art.title}">Titlu</h3>
                </a>
            </div>
        </div>
    </section>


</main>
</body>
</html>
